# ---- Editors / IDEs ----
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---- Nuxt ----
.nuxt/
.output/
.nitro/
.cache/
dist/

# ---- Node ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# ---- Environment / Secrets ----
.env
.env.*
!.env.example

# ---- OS ----
.DS_Store
Thumbs.db
desktop.ini

# ---- Logs ----
logs/
*.log

# ---- Build artifacts ----
*.tsbuildinfo

